$primary: #202020;
$secondary: #121212;
$white: #ffffff;
$black: #000000;
$gray:#d2d2d2;

$z-index-header: 1000;
$z-index-sidebar: 1000;
$z-index-modal: 1010;

$sidebar-width: 300px;

$red: #ED3024;
$blue: #3137C9;